body {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  font-family: "Shadows Into Light", cursive;
  font-family: "Splash", cursive;
  margin: 0px 30px;
  padding: 10px 10px;
}

h1 {
  font-size: 55px;
  color: #4f4f5e;
}
h3 {
  color: #0c3d64;
}
ul {
  margin: 20px 0 20px;
  padding: 0;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  background-color: #d0e8f7;
  border: 1px solid #1f4869;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10px auto;
  max-width: 1000px;
  width: 80%;
  height: 600px;
}
.forecast {
  margin-right: -150px;
  margin-top: -35px;
}
.temp-and-sing {
  color: #0c3d64;
  opacity: 2;
  font-weight: bold;
  font-size: 49px;
  line-height: 1em;
  margin-right: 10px;
}
.temp-and-sing .units {
  position: relative;
  font-size: 16px;
  top: -25px;
}
.humidity-and-wind {
  color: #0c3d64;
  opacity: 0.8;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.5;
}

.form-group {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: content-box;
  width: 60%;
  text-align: left;
}

.btn.btn-primary {
  margin-inline: 10px;
  background-color: #b9cad4;
  color: black;
  border: 2px solid #1f4869;
  transition: all 200ms ease;
  width: 40%;
}

.weather-forecast {
  margin-top: -40px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 5;
  color: #b9cad4;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-image {
  display: flex;
  flex-direction: column;
  margin: -30px 0 0 0;
  width: 50%;
}

.github-link {
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.temperature {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 30px;
}

.tempText {
  font-size: 16px;
}

.temperature .active {
  color: #1f4869;
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

#description {
  font-size: 1.75rem;
}
